header {
  background: var(--primary-dark);
  position: relative;
  box-shadow: 0 4px 17px rgb(255 255 255 / 10%);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  list-style-type: none;
  background-color: transparent;
  margin-top: 15px;
}

.nav-link a {
  display: inline-block;
  padding: 0.3rem 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  border-radius: 36px;
  line-height: 2;
  transition: 0.3s;
  opacity: 0;
  animation: navani 0.3s ease forwards;
  animation-delay: calc(0.15s * var(--navAni));
}

.nav-link a.active,
.nav-link a:hover {
  color: var(--primary-color);
}

@media (max-width: 500px) {
  .header-nav {
    display: none;
  }
  .logo {
    padding: 10px 0;
  }
}
