header {
  background: var(--primary-dark);
  position: relative;
  box-shadow: 0 4px 17px rgb(255 255 255 / 10%);
  position: sticky;
  top: -5px;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.logo b {
  color: white;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
}

li {
  cursor: pointer;
  padding: 0;
  margin-top: 0;
}

li a.active,
li a:hover {
  color: var(--primary-color);
}

@media (max-width: 450px) {
  .navbar {
    display: none;
  }
}
