.footer-about {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-about .logo {
  padding-top: 20px;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
}

.footer-img {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.footer-about .footer-img .img {
  background-color: white;
  height: 50px !important;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
}

.footer-img .img img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-form input,
.footer-form textarea {
  width: 430px;
  padding: 10px;
  outline: none;
  border: 2px solid green;
  border-radius: 5px;
}

.footer-about input:placeholder-shown,
.footer-about textarea:placeholder-shown {
  border-color: white;
}

.footer-about button {
  background-color: #f9532d; /* input yoki textarea fokusda bo'lsa */
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .footer-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .footer-box {
    gap: 20px;
  }

  .footer-about .footer-link {
    font-size: 12px;
    /* text-align: center; */
  }
}
